.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 90;
}

.header * {
  margin: 0.5em;
}

.header img {
  border-radius: 4px;
}

.header nav a,
.header__nav a {
  padding: 0.4em;
  margin: 0.6em;
  text-decoration: none;
  color: black;
}

.header nav a:hover,
.header__nav a:hover {
  color: white;
  background-color: blue;
}

.organizerCard {
  margin: 10px;
  text-align: center;
  max-width: 300px;
}
.organizerCard a {
  color: black;
  margin: 0 0.5em;
}

.organizerCard img {
  max-width: 90%;
}

@media screen and (max-width: 500px) {
  .header nav {
    display: none;
  }
}
