@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Nunito&family=Open+Sans:wght@300;400&family=Ubuntu+Mono&display=swap");

* {
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

img {
  border-radius: 6px;
}
